main{
    font-family: "Inter";
    font-size: 14px;
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    color: var(--font-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
    border-radius: 5px;
}
.container img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.container #locale{
    color:var(--active-state-color);

}
.container #description{
    margin: 10px;
}
.container a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--font-color-light);
    width: 100%;
    border-radius: 5px;
    
}
.container a:hover{
    background-color: var(--active-state-color);
    color: var(--font-color-dark);
}
